.location {
  display: flex;
  flex-direction: column;
  line-height: 1.75rem;
  font-size: 1.75rem;
  text-transform: uppercase;
  font-weight: 450;

  &__city {
    text-transform: uppercase;
  }

  &__road {
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
  }

  &__angle {
    width: 1.75rem;
    height: 1.75rem;
    margin: 0.25rem 0 0 0;
  }
}
